.DateRangePicker {
  position: relative;
  display: inline-block;
  border: none;
  height: 100%;
  width: 100%;
}
.DateRangePickerInput__withBorder {
  border-radius: 2px;
  border: none;
  display: flex;
  width: 100%;
  justify-content: center;
}

.DateInput {
  margin: 0;
  padding: 0;
  background: #fff;
  position: relative;
  display: inline-block;
  width: 130px;
  vertical-align: middle;
}
.DateInput_input {
  height: 96%;
  width: 76%;
  background-image: none;
  border: none;
}
.DateRangePickerInput_arrow {
  display: none !important;
}

@media (min-width: 900px) {
  .DateInput {
    width: 120px;
  }
  .DateInput_input {
    height: 51%;
    width: 100%;
    padding: 11px 0px 9px 0px;
  }
}
