.DateRangePicker {
  position: relative;
  display: inline-block;
  border: none;
  height: 100%;
}
.DateRangePickerInput__withBorder {
  border-radius: 2px;
  border: none;
}
.DateInput {
  margin: 0;
  padding: 0;
  background: #fff;
  position: relative;
  display: inline-block;
  width: 130px;
  vertical-align: middle;
}
.DateInput_input {
  height: 96%;
  width: 76%;
  background-image: none;
  border: none;
}
.DateRangePickerInput_arrow_svg {
  display: none;
}
@media (max-width: 411px) {
  .DateRangePicker {
    height: 100%;
    div {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      DateRangeInput {
        height: 100%;
        .DateInput {
          height: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          .DateInput_input {
            height: 100%;
            width: 30%;
          }
        }
      }
    }
  }
}
